@import './styles/global/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .floatingButton {
    @apply p-2 absolute right-0 bg-[var(--floating-button-bg-color)] text-[var(--floating-button-text-color)] border border-[var(--border-color)] rounded-full transition-all duration-200 hover:bg-[var(--floating-button-hover-bg-color)] cursor-pointer;
  }
  .refreshButton {
    @apply p-2 absolute right-10 bg-[var(--floating-button-bg-color)] text-[var(--floating-button-text-color)] border border-[var(--border-color)] rounded-full transition-all duration-200 hover:bg-[var(--floating-button-hover-bg-color)] cursor-pointer;
  }
  .seccionTienda {
    @apply sm:left-[75px] md:left-[29%] xl:left-[360px] flex justify-start items-center;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .selectorTienda {
    @apply p-2 bg-[var(--selector-tienda-bg-color)] text-[var(--selector-tienda-text-color)] text-xs border border-[var(--border-color)] rounded-md transition-all duration-200 shadow-md cursor-pointer;
  }
  .selectorTienda option {
    @apply bg-[var(--selector-tienda-bg-color)] text-[var(--selector-tienda-text-color)] text-xs;
  }
  .iconoTienda {
    @apply w-9 h-9 bg-none text-[var(--selector-tienda-bg-color)] text-xs m-2 border border-[var(--border-color)] rounded-md transition-all duration-200 shadow-md;
  }
  .seccionBotones {
    @apply flex justify-between items-center fixed bottom-4 right-4 w-32 min-h-10 z-0;
  }
  .scrollableTextarea {
    @apply resize-none overflow-auto max-h-16 md:max-h-32 overflow-y-auto;
  }
  .scrollableTextarea::-webkit-scrollbar {
    display: none;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .connection-status-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    z-index: 1000;
  }
  .connection-status-icon span {
    margin-left: 5px;
    color: red;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}