@import '../global/variables.css';
@import '../global/animations.css';

/* ********************* */
/* GASTOS */
/* ********************* */
.gastos {
  display: flex;
  flex-direction: column;
  height: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.gastosForm {
  flex-shrink: 0;
  opacity: 1;
  height: auto;
  margin: 0 0 1rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--modal-bg-color);
  transition: all 0.2s;
  animation: appear 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .gastosForm {
    margin: 1.25rem;
  }
}

.gastosFormHidden {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
  animation: disappear 0.2s ease-in-out;
}

.gastosFormTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .gastosFormTitle {
    font-size: 1.125rem;
  }
}

.gastosFormForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.gastosFormInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 90%;
}

@media (min-width: 768px) {
  .gastosFormInputs {
    gap: 1rem;
  }
}

.gastosFormInputSmall {
  width: 100%;
  max-height: 2rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--modal-input-bg-color);
  font-size: 0.75rem;
  line-height: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--modal-input-text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .gastosFormInputSmall {
    max-height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .gastosFormInputSmall {
    width: 40%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.gastosFormSelect {
  width: 100%;
  padding: 0;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .gastosFormSelect {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .gastosFormSelect {
    width: 40%;
  }
}

.gastosFormBoton {
  background-color: var(--modal-button-bg-color);
  color: var(--modal-button-text-color);
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .gastosFormBoton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.gastosFormBoton:hover {
  background-color: var(--modal-button-hover-bg-color);
  color: var(--modal-button-text-color);
}

.expenseTableDiv {
  flex-grow: 1;
  overflow: auto;
  transition: all 0.2s;
  width: 95%;
  height: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.tableHeaderText {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.expenseGroup {
  margin-bottom: .5rem;
}

.expenseListItem {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0.375rem;
  color: var(--task-text-color);
  transition: all 0.2s;
  border: 1px solid var(--task-divider-color);
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .expenseListItem {
    padding: 0.5rem;
  }
}
.expenseListItem:hover {
  background-color: var(--item-hover-bg-color);
}
.expenseListItem.highlighted {
  background-color: var(--item-hover-bg-color);
  border-color: var(--highlight-border-color);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.expenseDateHeader {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: flex-start;
  color: var(--text-color);
}

.expenseListItemInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 90%;
}

.expenseListItemInfo > * {
  flex: 0 0 30%;
}

.expenseListItemDate {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--form-input-text-color);
}

.expenseListItemTime {
  font-size: 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--form-input-text-color);
}

@media (min-width: 768px) {
  .expenseListItemDate {
    font-size: 1.125rem;
  }
  .expenseListItemTime {
    font-size: 1rem;
  }
}