@import '../global/variables.css';
@import '../global/animations.css';

/* ********************* */
/* GASTOS */
/* ********************* */
.gastos {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  position: relative;
}

.gastosForm {
  opacity: 1;
  height: auto;
  margin: 0 0 1rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  background-color: var(--modal-bg-color);
  transition: all 0.2s;
  animation: appear 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .gastosForm {
    margin: 1.25rem;
  }
}

.gastosFormHidden {
  margin-top: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
  animation: disappear 0.2s ease-in-out;
}

.gastosFormTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .gastosFormTitle {
    font-size: 1.125rem;
  }
}

.gastosFormForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.gastosFormInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 90%;
}

@media (min-width: 768px) {
  .gastosFormInputs {
    gap: 1rem;
  }
}

.gastosFormInputSmall {
  width: 100%;
  max-height: 2rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--modal-input-bg-color);
  font-size: 0.75rem;
  line-height: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--modal-input-text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .gastosFormInputSmall {
    max-height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .gastosFormInputSmall {
    width: 40%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.gastosFormSelect {
  width: 100%;
  padding: 0;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .gastosFormSelect {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .gastosFormSelect {
    width: 40%;
  }
}

.gastosFormBoton {
  background-color: var(--modal-button-bg-color);
  color: var(--modal-button-text-color);
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .gastosFormBoton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.gastosFormBoton:hover {
  background-color: var(--modal-button-hover-bg-color);
  color: var(--modal-button-text-color);
}

.gastosTableDiv {
  width: 100%;
  height: 90%;
  max-height: 90%;
}

.gastosTablePlusForm {
  height: 45%;
  max-height: 45%;
}

@media (min-width: 1024px) {
  .gastosTablePlusForm {
    height: 60%;
    max-height: 60%;
  }
}

.gastosTable {
  height: 100%;
  overflow: auto;
  position: relative;
}

.gastosTable::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.5rem;
}

.gastosTable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 9999px;
}

.gastosTable::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

.gastosTable::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 9999px;
}

.tableHeaderText {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.tableHeaderIcon {
  width: 0.5rem;
  height: 0.5rem;
  color: var(--text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .tableHeaderIcon {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}