@import '../global/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ********************* */
  /* SECCIÓN PRINCIPAL */
  /* ********************* */
  .seccionPrincipal {
    @apply md:w-3/4 w-full lg:w-full h-screen max-h-screen ml-12 md:ml-[25%] xl:ml-80 px-5 pb-5 md:p-10 md:pt-0 bg-[var(--section-bg-color)] text-[var(--title-text-color)] transition-all duration-200;
  }
  .tituloSeccion {
    @apply z-50 text-2xl md:text-4xl font-bold sticky top-0 pt-5 bg-[var(--section-bg-color)] border-b-2 border-[var(--border-color)] transition-all duration-200;
  }
  .contenidoPrincipal {
    @apply h-[94%] max-h-[94%] md:h-[97%] md:max-h-[97%]
    relative z-[500] overflow-auto sm:scrollbar-hide;
  }
  .contenidoPrincipal::-webkit-scrollbar {
    display: none;
  }
  .h1Seccion {
    @apply text-xl font-bold mb-4 pt-3;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
