@import '../global/variables.css';
@import '../global/animations.css';

/* ********************* */
/* SECCIÓN PRINCIPAL */
/* ********************* */
.seccionPrincipal {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin-left: 3rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  background-color: var(--section-bg-color);
  color: var(--title-text-color);
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .seccionPrincipal {
    width: 75%;
    margin-left: 25%;
    padding: 2.5rem;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .seccionPrincipal {
    width: 100%;
    margin-left: 15%;
  }
}

@media (min-width: 1280px) {
  .seccionPrincipal {
    margin-left: 15%;
  }
}

.tituloSeccion {
  z-index: 50;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  padding-top: 1.25rem;
  background-color: var(--section-bg-color);
  border-bottom: 2px solid var(--border-color);
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .tituloSeccion {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.contenidoPrincipal {
  height: 94%;
  max-height: 94%;
  position: relative;
  z-index: 500;
  overflow: auto;
}

@media (min-width: 768px) {
  .contenidoPrincipal {
    height: 97%;
    max-height: 97%;
  }
}

.contenidoPrincipal::-webkit-scrollbar {
  display: none;
}

.h1Seccion {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  line-height: 1.75rem;
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portadaLogo {
  width: 16rem;
  height: 16rem;
  margin-bottom: 1rem;
  animation: bounce 1s infinite;
  image-rendering: pixelated;
}

.portadaTitulo {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--title-text-color);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.portadaSubtitulo {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Utilities */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}