@import '../global/variables.css';

/* ********************* */
/* MODAL */
/* ********************* */

.modal {
  background-color: var(--modal-bg-color);
  color: var(--text-color);
  position: fixed;
  z-index: 1000;
  padding: 2.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  transition: all 0.2s;
  overflow: visible;
}

.modal::backdrop {
  background-color: var(--modal-backdrop-color);
}

.modalTitulo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--modal-title-text-color);
}

@media (min-width: 768px) {
  .modalTitulo {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.modalSubtitulo {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: var(--modal-title-text-color);
}

@media (min-width: 768px) {
  .modalSubtitulo {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
}

.modalSubSubtitulo {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: var(--modal-title-text-color);
}

@media (min-width: 768px) {
  .modalSubSubtitulo {
    font-size: 1rem;
  }
}

.modalSection {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.modalSeparator {
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalParallelInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.modalDivider {
  border-bottom: 1px solid var(--task-divider-color);
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .modalDivider {
    margin: 1rem 0;
  }
}

.modalInput {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--modal-input-bg-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--modal-input-text-color);
  transition: all 0.2s;
  max-height: 2rem;
}

@media (min-width: 768px) {
  .modalInput {
    max-height: 3rem;
  }
}

.modalInputSmall {
  width: 7rem;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  background-color: var(--modal-input-bg-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--modal-input-text-color);
  transition: all 0.2s;
  max-height: 2rem;
}

@media (min-width: 768px) {
  .modalInputSmall {
    width: 13rem;
    margin-bottom: 0.75rem;
    max-height: 3rem;
  }
}

.modalTextArea {
  font-size: 0.75rem;
  line-height: 1rem;
  max-height: 2.5rem;
}

@media (min-width: 768px) {
  .modalTextArea {
    max-height: 5rem;
  }
}

.modalSelect {
  width: 80%;
  padding: 0;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--text-color);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .modalSelect {
    padding: 0.5rem;
    margin-bottom: 0.75rem;
  }
}

.modalLabel {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.modalBoton {
  background-color: var(--modal-button-bg-color);
  color: var(--modal-button-text-color);
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modalBoton {
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.modalBoton:hover {
  background-color: var(--modal-button-hover-bg-color);
}

.modalLista {
  width: 90%;
  padding: 0.5rem;
  margin: 0.75rem 0;
  background-color: var(--modal-input-bg-color);
  font-size: 0.75rem;
  line-height: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  color: var(--modal-input-text-color);
  transition: all 0.2s;
  max-height: 4rem;
}

@media (min-width: 768px) {
  .modalLista {
    max-height: 8rem;
  }
}

.modalListaItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.modalListaItem:hover {
  background-color: var(--item-hover-bg-color);
}

.modalListaItemButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.modalCerrar {
  position: absolute;
  width: 1.75rem;
  height: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5rem;
}