@import '../global/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ********************* */
/* BARRA LATERAL */
/* ********************* */
.barraLateral {
  background-color: var(--barra-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: rgba(30, 58, 138, 0.5) 3px 0px 3px 0px;
  transition: all 0.2s;
  z-index: 500;
}

@media (min-width: 768px) {
  .barraLateral {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .barraLateral {
    width: 15%;
  }
}

.tituloBarraLateral {
  display: flex;
  justify-content: center;
  color: var(--barra-text-color);
  font-size: 1.875rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .tituloBarraLateral {
    margin-top: 1.5rem;
  }
}

.barraLateralLista {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .barraLateralLista {
    padding: 0.5rem;
    margin-top: 2rem;
  }
}

.logoBarraLateral {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .logoBarraLateral {
    margin: 0.65rem 0.5rem 0 0;
  }
}

.iconoBarraLateral {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .iconoBarraLateral {
    margin: 0.25rem 1rem 0 0;
  }
}

.itemBarraLateral {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--barra-text-color);
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0.25rem;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .itemBarraLateral {
    margin: 0.5rem;
    justify-content: flex-start;
  }
}

.itemBarraLateral:hover {
  background-color: var(--barra-item-hover-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.itemBarraLateral:hover .notificationBubble {
  transform: scale(1.05);
}

.itemBarraLateralActive {
  background-color: var(--barra-item-active-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1);
}

.itemBarraLateralText {
  display: flex;
  align-items: center;
}

.itemBarraLateralTextHidden {
  display: none;

}

@media (min-width: 768px) {
  .itemBarraLateralTextHidden {
    display: flex;
  }
}

.barraLateralSeparador {
  width: 90%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .barraLateralSeparador {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.itemBarraLateralWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--barra-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

.dropdownMenu .itemBarraLateral {
  margin: 0.25rem 0;
}

.toggleMode {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  margin: 0;
  color: var(--barra-text-color);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

@media (min-width: 768px) {
  .toggleMode {
    margin: 0.5rem 0;
  }
}

.toggleModeLight,
.toggleModeDark {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
  cursor: pointer;
}

.toggleModeLight:hover,
.toggleModeDark:hover {
  color: var(--barra-item-hover-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggleModeLight.animate,
.toggleModeDark.animate {
  animation: spinFade 0.3s ease-in-out;
}

.authButtonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  transition: all 0.2s;
  border-left: 2px solid var(--barra-auth-item-border-color);
  padding-left: 1.25rem;
}

.authPill,
.authButtonCompact {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  background-color: var(--barra-auth-item-bg-color);
  color: var(--barra-auth-item-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

.authPill:hover,
.authButtonCompact:hover {
  background-color: var(--barra-auth-item-hover-bg-color);
}

.authButton {
  background-color: var(--barra-auth-item-bg-color);
  color: var(--barra-auth-item-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
  cursor: pointer;
}

.authButton:hover {
  background-color: var(--barra-auth-item-hover-bg-color);
}

.authButtonCompact {
  position: absolute;
  bottom: 3.5rem;
  left: 0.75rem;
}

@media (min-width: 768px) {
  .authButtonCompact {
    position: static;
  }
}

.notificationBubble {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  width: 0.875rem;
  height: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}